*{
	margin: 0px;
}

.tabela{
	margin-top:30px;
	border:2px;
	text-align:center;
}

table, th, td {
  border: 1px solid black;
  padding: 7px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
	color: #5e5c64;
}


.center-center-page{
	max-width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.center-center-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.menu-inicial{
	padding:50px;
	margin: 200px auto;
	box-shadow: 2px 2px 2px gray;
	border-radius: 15px;
	background: lightgray;
}

.pagina-listagem{
	padding:50px;
	margin: 200px auto;
	box-shadow: 2px 2px 2px gray;
	border-radius: 15px;
	background: lightgray;
	width: 500px;
	position: relative;
}

.pagina-criacao{
	padding:50px;
	margin: 200px auto;
	box-shadow: 2px 2px 2px gray;
	border-radius: 15px;
	background: lightgray;
	width: 500px;
	position: relative;
}

.botao-voltar{
	position: absolute;
	top: 10px;
	left: 10px;
}

.botao-adicionar{
	box-shadow: 2px 2px 5px black;
	background: white;
	cursor:pointer;
}

form{
	display:flex;
	flex-direction:column;
	gap: 15px;
	align-items:center
}


input{
	border-radius: 15px;
	padding: 10px;
	border: none;
}

.conteudo{
	display:none
}


.noborder{
	border:none !important;
}